body {
    font-family: 'Noto Sans KR', sans-serif;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.nav-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 50px;
    margin: 0;
    padding-left: 0;
    
    background-color: coral;
    list-style-type: none;
    
    position: fixed;
    top: 0;
  
    font-size: 18px;
    color: white;
  }
  
  .nav-item:nth-child(2) {
    background-color: rgb(251, 174, 146);
  }
  .nav-item:hover {
    background-color: rgb(249, 188, 166);
    cursor: pointer;
  }
  .nav-item {
    padding: 10px 20px 0px 20px;
  }

  a {
    text-decoration: none;
    color: white;
  }


.wrap {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-areas:
        "header header"
        "image content"
        "image-2 content-2"
        "image-3 content-3";
    padding: 30px;
    gap: 20px;
}
@media (max-width: 980px) {
    .wrap{
        grid-template-columns: 1fr;
        grid-template-areas: 
        "header"
        "image"
        "content";
        gap: 20px;
        
        display: flex;
        flex-direction: column;
    }
    
   
}
.header-area {
    grid-area: header;
    justify-self: center;
    text-decoration-line: underline;
    text-decoration-thickness: 8px;
    color: rgb(49, 49, 49);
}

.image, .image-2, .image-3 {
    max-width: 420px;
    justify-self: end;
}
.content {
    grid-area: content;
    font-size: 18px;
    line-height: 30px;
}
.content-2 {
    grid-area: content-2;
    font-size: 18px;
    line-height: 30px;
}
.content-3 {
    grid-area: content-3;
    font-size: 18px;
    line-height: 30px;
}

.s-title {
    font-size: 34px;
    font-weight: bold;
    color:coral;
    gap: 20px;
}

.click {
    color: coral;
    font-weight: 400;
}